@model IEnumerable<WebApplication1.Models.UserViewModel>
<h3>Menaxhimi i përdoruesve</h3>
<table class="table table-sm table-bordered">
    <tr>
        <th>Emri</th>
        <th>Email</th>
        <th>Roli</th>
        <th>Veprime</th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="4" class="text-center">Nuk ka llogari Përdoruesish</td></tr>
    }
    else
    {
        foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Role</td>



                <td class="text-center">
                    <form method="post" asp-controller="Admin" asp-action="Delete">
                        <input type="hidden" name="Id" value="@user.Id" />
                        <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-route-id="@user.Id" asp-action="Create">Assign Role</a>    
                        <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-route-id="@user.Id" asp-action="Edit">Edit</a>                       
                        <button type="submit" class="btn btn-sm btn-primary">Delete</button>    
                    </form>
                </td>
            </tr>
        }
    }
</table>
<a asp-action="Create" asp-controller="Role" class="btn btn-primary">New Role</a>